# Duitku Payment Gateway Configuration (Sandbox)
DUITKU_API_KEY=8350faa667034294a9be2ccf034484f7
DUITKU_MERCHANT_CODE=DS35240
DUITKU_CALLBACK_URL=https://laxstudio.vercel.app/store/duitku-callback
DUITKU_RETURN_URL=https://laxstudio.vercel.app/store/success
DUITKU_ENV=sandbox
NEXT_PUBLIC_SITE_URL=https://laxstudio.vercel.app
